.container {
  width: 240px;
  height: 200px;
  border: 1px solid gray;
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap-reverse;
}

.container > div {
  width: 80px;
  height: 50px;
  border: 1px solid red;
  box-sizing: border-box;
}

